# Configuração da API CoinGecko
COINGECKO_URL=

# Configurações de processo
COINGECKO_TIMEOUT=10
MAX_RETRIES=3
RETRY_DELAY_BASE=2

# Diretórios e logs
DATA_DIR=./system/data
LOG_LEVEL=INFO

# Tipo de moeda
MOEDA=usd

# Quantidade de criptomoedas
QUANTIDADE_CRIPTOS=5