# Configuração da API CoinGecko
COINGECKO_URL=
COINGECKO_TIMEOUT=

# Configurações de processo
MAX_RETRIES=
RETRY_DELAY_BASE=

# Diretórios e logs
DATA_DIR=
LOG_LEVEL=

# Tipo de moeda
MOEDA=

# Quantidade de criptomoedas 
QUANTIDADE_CRIPTOS=